.main-container{

}

.sidebar{
    position: fixed; /*fixa ele em um contexto a cima, interessante notar que a laminas voltam ao lugar q estavam quando este eh habilitado*/
    
    height:auto;

    width: 15rem;
    margin: 8rem 0 ;
    padding: 1rem;
    background:#f3ba2f;
    border-radius: 0 5px 5px 0;

    display: flex;
    flex-direction: column;

    align-items: center;

    transition: 0.5s;

    animation-delay: 1.5s;
}

.sidebar #filtersDiv{
    margin: 1rem;
    width: 100%;
}

.sidebar #searchDiv{
    margin: 1rem;
    width: 100%;
}

.sidebar #hide-button{
    position: absolute;
    
    right: -2.5rem;
    bottom:40%;

    background: #FFF;

    padding:1.3rem;
}

.cripto-list{
    background: #444;
    color: #fff;
    width: 100%;
    padding: 3.7rem 0 0 12rem;

    transition: 0.5s;

}

/*tudo dentro do link*/
.cripto-list a{
    text-decoration: none;
    width: clamp(10rem, 60vw, 100rem); 
}

.cripto-list button{
    margin: 0;
    width:100%;
    background: #f3ba2f;
    

    display: flex;
    justify-content: space-between;
}


.cripto-list button:hover{
    background: #C3931D;
    cursor: pointer;
    transition: 200ms;
    color: #fff;
}

.cripto-list button:hover #changePercent{
    color: #fff !important;
    transition: 200ms;
}

.cripto-info{
    background: #f3ba2f;
    color: #444;
    width: 100%;


    display: flex;
    justify-content: space-between;

    margin: 10px auto;

    border:0px solid #f3ba2f;
    border-radius: 5px;

    align-items:center;

}

.cripto-info #changePercent{
    width: 90px;
    background: #444;
    padding: 9px;
    border-radius: 5px;
}

.cripto-price{

    display: flex;
}