.cripto-list{
    background: linear-gradient(329.54deg, #fff 0%, #444 100%);
    color: #fff;
    width: 100%;
    padding: 60px 0 0 0;

}

.cripto-list button{
    margin: 0;
    width:100%;
    background: #f3ba2f;
    

    display: flex;
    justify-content: space-between;
}


.cripto-list button:hover{
    background: #C3931D;
    cursor: pointer;
    transition: 200ms;
    color: #fff;
}

.cripto-list button:hover #changePercent{
    color: #fff !important;
    transition: 200ms;
}

.cripto-list a{
    text-decoration: none;
    width: 70%;
}

.cripto-info{
    background: #f3ba2f;
    color: #444;
    width: 100%;


    display: flex;
    justify-content: space-between;

    margin: 10px auto;

    border:0px solid #f3ba2f;
    border-radius: 5px;

    align-items:center;

}

.cripto-info #changePercent{
    width: 90px;
    background: #444;
    padding: 9px;
    border-radius: 5px;
}

.cripto-price{

    display: flex;
}