
*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;

}

body{
    font-family: Staatliches, Helvetica, sans-serif;
    background: #444;
    color: #333;
    height: 100vh;
}
:root{
    font-size: 100%; /* 100% eh 16px */
}